<mat-toolbar class="footer" *ngIf="!isMobile">
  <div class="copyright">{{copyright}}</div>
  <span class="empty-space"></span>
  <div class="links">
    <a class="link" id="links-email">Email</a>
    <a class="link" id="links-instagram">Instagram</a>
    <a class="link" id="links-twitter">Twitter</a>
    <a class="link" id="links-facebook">Facebook</a>
    <a class="link" id="links-vimeo">Vimeo</a>
  </div>
</mat-toolbar>
<mat-toolbar class="footer" *ngIf="isMobile">
  <mat-grid-list
    cols="5"
    rowHeight="2rem"
  >
    <mat-grid-tile
      [colspan]="5"
      [rowspan]="1"
      class="copyright"
    >
      {{copyright}}
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      class="link-container"
    >
      <a class="link" id="links-email">Email</a>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      class="link-container"
    >
      <a class="link" id="links-instagram">Instagram</a>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      class="link-container"
    >
      <a class="link" id="links-twitter">Twitter</a>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      class="link-container"
    >
      <a class="link" id="links-facebook">Facebook</a>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      class="link-container"
    >
      <a class="link" id="links-vimeo">Vimeo</a>
    </mat-grid-tile>
  </mat-grid-list>
</mat-toolbar>
<!-- <mat-accordion *ngIf="isMobile" class="accordion" hideToggle>
  <mat-expansion-panel class="mobile-menu">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="copyright">{{copyright}}</div>
        <span class="empty-space"></span>
        <img class="sm-links" src="https://img.icons8.com/material-outlined/24/000000/hashtag-large.png">
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="links">
      <a class="link" id="links-email">
        <mat-icon>email</mat-icon>
      </a>
      <a class="link" id="links-instagram">
        <img src="https://img.icons8.com/ios-filled/24/000000/instagram.png">
      </a>
      <a class="link" id="links-twitter">
        <img src="https://img.icons8.com/ios-filled/24/000000/twitter.png">
      </a>
      <a class="link" id="links-facebook">
        <img src="https://img.icons8.com/material/24/000000/facebook-f.png">
      </a>
      <a class="link" id="links-vimeo">Vimeo</a>
    </div>
  </mat-expansion-panel>
</mat-accordion> -->